# Ignore compiled output
/build/
/dist/

# Ignore dependencies
/node_modules/

# Ignore log files
*.log

# Ignore editor files
.vscode/
.idea/


labs/01-Verify-Installation/.data/
labs/03-Kafka-Server-Configurations/.data/
